

/* container for footer
        remove  border and background-color*/
.footer__container {
    display: flex;

    border: 2px solid black;
    background-color: grey;

    /* position: absolute; */
    /* left: 0;
    bottom: 0;
    width: 100%; */
}

.footer {
    margin-top: auto;
  }