

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    border: solid black;
    margin-top: 15px;
}


.header__logo_container {
    display: flex;
    align-items: center;

}

/* Image for music icon on nav */
/* .music_home {
    height: 150px;
    width:200px;
} */

.header__name {
    display: flex;
}