


.home__title_container {
  display: flex;
  justify-content: center;
  margin: 10px 0px 10px 0px;
  /* background-color: #fff; */
}


.home__title_container_item {
  font-size: 36px;
}

.home__body_container {
  display: flex;

  /* background-color: #fff; */
  /* border: 2px solid black; */
}


.home__full_aboutme_text {
  font-size: 24px;
  padding: 35px;
  margin-bottom: 20px;
}


.home__profile_image_container img {
  height: 600px;
  width: 400px;
  padding: 2px;
  margin: 32px 22px 22px 0px;
  border-radius: 25px;
}