

/* This code acts as the container for the sticky footer */
.container {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.page_padding {
    padding: 20px 120px 50px 120px;
  }
