

.nav_row {
    display: flex;

}

.linkcontainer {
    display: flex;
    justify-content: center;
    font-size: 16px;
    position: relative;

}

.link { 
    color: rgb(171, 138, 54);
    font-size: 36px;
    font-weight: 600;
    margin-right: 24px; 
    text-decoration: none;
    /* display: flex;
    flex-direction: row; */
}

@media screen and (max-width: 1450px) {
    .link {
        font-size: 20px;
    }
  }

@media screen and (max-width: 1024px) {
    .link {
        font-size: 20px;
    }
  }

@media screen and (max-width: 768px) {
    .link {
        display: none;
    }
  }

@media screen and (max-width: 450px) {
    .link {
        display: none;
    }
  }
